src/META-INF/xsnake.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.xsnake.org/schema/xsnake"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.xsnake.org/schema/xsnake">
	<xsd:element name="client">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref="service" minOccurs="0" maxOccurs="unbounded"> </xsd:element>
			</xsd:choice>
			<xsd:attribute name="id" type="xsd:ID"></xsd:attribute>
			<xsd:attribute name="zookeeperAddress" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="timeout" type="xsd:int"></xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="service">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID"></xsd:attribute>
			<xsd:attribute name="interface" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="version" type="xsd:int"></xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	
</xsd:schema>